node_modules/*
scratch.cjs
src/.DS_Store
.DS_Store
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/coverage-summary.json
coverage/lcov-report/index.js.html
.parcel-cache/0e613961dce44a82
.parcel-cache/3b15f003e4aada7f
.parcel-cache/35c20fb91e350b46
.parcel-cache/13776de4870b0ae4.txt
.parcel-cache/d43c1a783b32ded4
.parcel-cache/data.mdb
.parcel-cache/lock.mdb
dist/*
src/scratch.js
